<app-navbar></app-navbar>
<div class="row justify-content-center my-5">
        <div class="consulta">
        <h4>Título: <span class="content-span">{{registro.titulo}}</span></h4>
        <h5>Data Registro: <span class="content-span">{{registro.dataResgistro}}</span></h5>
        <h5>Descrição: <span class="content-span">{{registro.descricao}}</span></h5>
        <h5>Empresa: <span class="content-span">{{registro.frota.empresa.nome}}</span></h5>
        <h5>Frota: <span class="content-span">{{registro.frota.nome}}</span></h5>
        <h5>Autor: <span class="content-span">{{registro.funcionario.nome}}</span> E-mail: <span class="content-span">{{registro.funcionario.email}}</span></h5>
        <h5>Arquivos:</h5>
        <ul class="list-group list-group-flush">
            <li *ngFor="let item of listaArquivo" class="link list-group-item">
                <a href="{{item.url}}">{{item.name}}</a>
            </li>
        </ul>
        <br>
        <div class="container"><button (click)="btCancelar()" class="btn">Retornar</button></div>
    </div>
</div>
<app-rodape></app-rodape>
