.consulta{
    background-color: rgba(72, 61, 139, 0.8);
    border-radius: 2%;
    border: 3px solid #fcb903fd;
    align-items: center;
    font-weight: bold;
    padding: 20px;
    width: 70%;
    min-width: 500px;
    color:#fcb903fd;
    font-weight: bold;    
}

.btn {
    text-align:center;
    background-color: #fcb903fd;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    color: white;
}

.content-span {
    color: whitesmoke;
    border-radius: 5%;
    margin-left: 5px;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.link {
    color: #fcb903fd;
}

@media only screen and (max-width: 500px) {
    .consulta{
        width: 95%;
        min-width: 192px;
    }
}
