<app-navbar></app-navbar>
<br><br><br><br><br>
<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="corpo">
     
      <form class="cadastrar form-group mb-4">
        <label for="inputLogin">Login</label>
        <select class="form-control" id="inputLogin" name="cargo" [(ngModel)]="idFuncionario" (change)="setFuncionario()">
          <option value="0" selected>-Selecione o login-</option>
          <option *ngFor="let item of listaClientes" value="{{item.id}}">{{item.login}}</option>
        </select>
        <div *ngIf="idFuncionario != 0" class="mt-2">
          <label for="">Informações do funcionario:</label>
          <ul class="list-group">
            <li class="list-group-item">Nome: {{funcionarioUpdate.nome}}</li>
            <li class="list-group-item">Empresa: {{funcionario.empresa.nome}}</li>
            <li class="list-group-item">Email: {{funcionarioUpdate.email}}</li>
          </ul>
        </div>
        <div class="d-grid gap-2 mt-3">
          <button (click)="btDeletar()" type="submit" class="btn" >Deletar usuário</button>
          <button (click)="btCancelar()" class="btn" style="background-color: rgb(44, 35, 102);">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
<app-rodape></app-rodape>