<app-navbar></app-navbar>
<br><br><br><br><br><br>
<div class="container d-flex flex-column justify-content-center align-items-center">
  <div class="corpo">
    <form class="cadastrar mb-4">
      <div class="form-group ">
        <label for="inputName">Nome</label>
        <input type="text" class="form-control" id="inputName" placeholder="" [(ngModel)]="funcLogin.nome" name="nome">      
        <label for="inputLogin">Login</label>
        <input type="text" class="form-control" id="inputLogin" placeholder="" [(ngModel)]="funcLogin.login" name="login">      
        <label for="inputPassword4">Senha</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="" [(ngModel)]="funcLogin.senha" name="senha">
        <label for="inputEmail4">Email</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="" [(ngModel)]="funcLogin.email" name="email">
        <label for="">Empresa</label>      
        <input class="form-control" list="brow" [(ngModel)]="funcLogin.empresa" name="empresa">
        <datalist id="brow">
          <option value="aEmpresa 1">
          <option value="aeEmpresa 1">
          <option value="ewrEmpresa 1">
          <option value="sdfEmpresa 1">
          <option value="aEmpresa 2">
          <option value="aeEmpresa 2">
          <option value="ewrEmpresa 2">
          <option value="sdfEmpresa 2">
          <option value="aEmpresa 3">
          <option value="aeEmpresa 3">
          <option value="ewrEmpresa 3">
          <option value="sdfEmpresa 3">
        </datalist>
      </div>
      <div class="d-grid gap-2 mt-4">
        <button type="submit" class="btn" >Cadastrar</button>
        <button (click)="btCancelar()" class="btn" style="background-color: rgb(44, 35, 102);">Cancelar</button>
      </div>          
    </form>
  </div>
</div>
<app-rodape></app-rodape>