<app-navbar></app-navbar>
<br><br><br><br><br><br>
<div class="container d-flex flex-column justify-content-center align-items-center">
  <div class="corpo">
    <form class="cadastrar mb-4">
      <div class="form-group ">
        <label for="inputName">Nome</label>
        <input type="text" class="form-control" id="inputName" placeholder="" [(ngModel)]="funcLogin.nome" name="nome">      
        <label for="inputLogin">Login</label>
        <input type="text" class="form-control" id="inputLogin" placeholder="" [(ngModel)]="funcLogin.login" name="login">      
        <label for="inputPassword4">Senha</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="" [(ngModel)]="funcLogin.senha" name="senha">
        <label for="inputEmail4">Email</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="" [(ngModel)]="funcLogin.email" name="email">
        <label for="">Empresa</label>      
        <select class="form-control" [(ngModel)]="funcLogin.idEmpresa" name="empresa">
          <option *ngFor="let item of listaEmpresas" value="{{item.id}}">{{item.nome}}</option>
        </select>
      </div>
      <div class="d-grid gap-2 mt-4">
        <button (click)="cadastrar()" type="submit" class="btn" >Cadastrar</button>
        <button (click)="btCancelar()" class="btn" style="background-color: rgb(44, 35, 102);">Cancelar</button>
      </div>          
    </form>
  </div>
</div>
<app-rodape></app-rodape>