<app-navbar></app-navbar>
<br><br><br><br><br>
<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="corpo">
     
      <form class="cadastrar mb-4">
          <div class="form-row">
            <div class="form-group ">
              <label for="inputName">Nome</label>
              <input type="text" class="form-control" id="inputName" placeholder="Nome" [(ngModel)]="funcUpdate.nome" name="nome">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword4">Senha</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Senha" [(ngModel)]="funcUpdate.senha" name="senha">
          </div>
          <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Email" [(ngModel)]="funcUpdate.email" name="email">
          </div>
          <div class="form-group">
            <label for="inputCargo">Cargo</label>
            <select class="form-control" id="inputCargo" [(ngModel)]="funcUpdate.cargo" name="cargo">
              <option value="" selected>-Selecione o cargo-</option>
              <option value="GERENCIA">Gerência</option>
              <option value="MANUTENCAO">Manutenção</option>
            </select>
          </div>
          <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn" (click)="setUpdateInterno()">Atualizar cadastro</button>
            <button type="submit" class="btn" (click)="setDeleteInterno()">Deletar usuário</button>
            <button (click)="btCancelar()" class="btn" style="background-color: rgb(44, 35, 102);">Cancelar</button>
         </div>
        </form>
    </div>
  </div>
<app-rodape></app-rodape>