input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield; 
}

.cadastrar{
    background-color: rgba(72, 61, 139, 0.8);
    border-radius: 2%;
    border: 3px solid #fcb903fd;
    align-items: center;
    font-weight: bold;
    padding: 20px;
    width: 70%;
    min-width: 500px;
    color:#fcb903fd;
    font-weight: bold;    
}

.form-group{
    color:#fcb903fd;
}

.btn {
    margin-top: 10px;
    background-color: #fcb903fd;
    font-weight: bold;
    border: #fcb903fd;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    .cadastrar{
        width: 95%;
        min-width: 192px;
    }
}
