<app-navbar></app-navbar>
<br>
<br>
<br>
<br>
<br>
<br>
<form class="formulario mx-auto">
    <div class="form-group">
      <label for="exampleFormControlInput1">Título:</label>
      <input type="text" class="form-control" [(ngModel)]="registro.titulo" id="exampleFormControlInput1">
      <label for="inputDescricao">Descrição:</label>
      <textarea id="inputDescricao" class="form-control" [(ngModel)]="registro.descricao" aria-label="With textarea"></textarea>
      <label for="">Empresa</label>      
      <select onchange="setFrotas()" class="form-control" [(ngModel)]="idEmpresa" name="empresa">
        <option value="" selected>-Selecione a empresa-</option>
        <option *ngFor="let item of listaEmpresas" value="{{item.id}}">{{item.nome}}</option>
      </select>
      <label for="">Frota</label>      
      <select class="form-control" [(ngModel)]="registro.idFrota" name="empresa">
        <option value="" selected>-Selecione a frota-</option>
        <option *ngFor="let item of listaFrotas" value="{{item.id}}">{{item.nome}}</option>
      </select>
      <label for="exampleFormControlSelect1">Selecione a categoria do registro:</label>
      <select class="form-control" [(ngModel)]="registro.registroCategoria" id="exampleFormControlSelect1">
        <option value="NOVO_LAUDO">Novo laudo</option>
        <option value="PROBLEMA_ENCONTRADO">Problema encontrado</option>
        <option value="PROBLEMA_SOLUCIONADO">Problema solucionado</option>
      </select>
    </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Anexar arquivo:</label><br>
        <input type="file" (change)="onFileSelected($event)" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <div class="container text-center mt-4">
        <div class="row">
          <div class="col">
            <button (click)="cadastrar()" type="submit" class="btn" style="width: 100%;">Cadastrar</button>
          </div>
          <div class="col">
            <button (click)="btCancelar()" class="btn" style="background-color: rgb(44, 35, 102); width: 100%;">Cancelar</button>
          </div>
        </div>
      </div>
  </form>
<app-rodape></app-rodape>
