.formulario {
    background-color: rgba(72, 61, 139, 0.8);
    border-radius: 2%;
    border: 3px solid #fcb903fd;
    align-items: center;
    font-weight: bold;
    padding: 20px;
    width: 70%;
    min-width: 500px;
    color:#fcb903fd;
    font-weight: bold;    
}

.btn {
    text-align:center;
    background-color: #fcb903fd;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    color: white;
    
}

.lista {
    background-color: white;
    list-style-type: none;
    border: 3px solid #fcb903fd;
    color: black;
    text-align: left;    /* Adicione esta linha */
    margin: 0;           /* Remove a margem padrão */
    padding: 0;          /* Remove o padding padrão */
    padding-left: 5px;
    margin-bottom: 5px;
}

.titulo{
    font-weight: bold;
    border-bottom: 3px solid #fcb903fd;
    border-width: 100%;
    margin-left: -5px;
    margin-right: -3px;
    padding-left: 5px;
    padding-right: 5px;
}

@media only screen and (max-width: 500px) {
    .formulario{
        width: 95%;
        min-width: 192px;
    }
}