<app-navbar></app-navbar>

<div class="container mt-5 mb-5">
  <div class="row area-conteudo mb-2 px-3">
    <div class="col">
      <h3>{{funcionario.nome}}</h3>
      <p *ngIf="cliente">{{funcionario.empresa.nome}}</p>
      <p *ngIf="!cliente">{{funcionario.cargo}} FHR</p>
      <p>{{funcionario.email}}</p>
    </div>
    <div class="col-1">
      <a href="" (click)="logOut()">SAIR</a>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="area-conteudo form-group px-3">
        <h6>FILTROS</h6>
        <select name="empresas" id="select-empresas" class="form-control" [(ngModel)]="idEmpresa" *ngIf="!cliente" (ngModelChange)="setFrotas()">
          <option value="0" selected>Todas as empresas</option>
          <option *ngFor="let item of listaEmpresas" value="{{item.id}}">{{item.nome}}</option>
        </select>
        <select name="frotas" id="select-frotas" class="form-control mt-2" [(ngModel)]="idFrota" *ngIf="idEmpresa!=0" (ngModelChange)="setRegistros()">
          <option value="0" selected>Todas as frotas</option>
          <option *ngFor="let item of listaFrotas" value="{{item.id}}">{{item.nome}}</option>
        </select>
        <select name="categorias" id="select-categorias" class="form-control mt-2"  [(ngModel)]="categoria" (ngModelChange)="setRegistros()">
          <option value="" selected>Todas as categorias</option>
          <option value="NOVO_LAUDO">Laudos</option>
          <option value="PROBLEMA_ENCONTRADO">Problemas</option>
          <option value="PROBLEMA_SOLUCIONADO">Solucionados</option>
        </select>
      </div>

      <div id="area-botoes" class="d-grid gap-2 mt-2">
        <button (click)="goToCadastroRegistro()" class="btn" type="button">NOVO REGISTRO</button>
        <div>
          <button (click)="btCadastrar()" class="btn" type="button" *ngIf="gerencia">CADASTRAR</button>
          <div class="px-1">
            <button (click)="goToCadastroFuncionario()" class="btn-2 rounded-bottom" type="button" *ngIf="cadastrar">NOVO USUARIO</button>
            <button (click)="goToCadastroFuncionarioInterno()" class="btn-2 rounded-bottom" type="button" *ngIf="cadastrar">NOVO USUARIO FHR</button>
            <button (click)="goToCadastroEmpresa()" class="btn-2 rounded-bottom" type="button" *ngIf="cadastrar">NOVA EMPRESA</button>
            <button (click)="goToCadastroFrotas()" class="btn-2 rounded-bottom" type="button" *ngIf="cadastrar">NOVA FROTA</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="px-3 py-2 area-conteudo">
        <h6>REGISTROS</h6>
        <table id="tabela-registros" class="table text-left">
          <thead>
            <tr>
              <th style="width:50%; text-align: left;">TITULO</th>
              <th style="width:20%;">FROTA</th>
              <th>CATEGORIA</th>
              <th>DATA</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr (click)="printRegistro(item.titulo)" *ngFor="let item of listaRegistros">
              <td>{{item.titulo}}</td>
              <td>{{item.frota.nome}}</td>
              <td>{{item.categoria}}</td>
              <td>{{item.dataResgistro}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row area-conteudo mt-5 mb-2 px-3">
    <div class="col">
      <h3>{{funcionario.nome}}</h3>
      <p>{{funcionario.empresa.nome}}</p>
      <p>{{funcionario.cargo}} FHR</p>
      <p>{{funcionario.email}}</p>
    </div>
    <div class="col-1">
      <a href="" (click)="logOut()">SAIR</a>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-3">
      <div class="px-3 area-conteudo form-group">
        <h6>FILTROS</h6>
        <select (change)="setRegistros()" class="form-control" name="empresa">
          <option value="" selected>-Selecione a empresa-</option>
          <option *ngFor="let item of listaEmpresas" value="{{item.id}}">{{item.nome}}</option>
        </select>
        <select class="form-select my-2" aria-label="Default select example">
          <option value="" selected>Todas as categorias</option>
          <option value="NOVO_LAUDO">LAUDO</option>
          <option value="PROBLEMA_ENCONTRADO">PROBLEMA</option>
          <option value="PROBLEMA_SOLUCIONADO">SOLUÇÃO</option>
        </select>
      </div>
      <div id="area-botoes" class="d-grid gap-2 mt-2">
          <button (click)="goToCadastroRegistro()" class="btn" type="button">NOVO REGISTRO</button>
            <select name="" id="" *ngIf="gerencia" [(ngModel)]="cadastro" onchange="setCadastro()">
              <option value="" selected>CADASTRAR</option>
              <option value="novoUsuario">NOVO USUARIO</option>
              <option value="novoFhr">NOVO USUARIO FHR</option>
              <option value="novaEmpresa">NOVA EMPRESA</option>
              <option value="novaFrota">NOVA FROTA</option>
            </select>
            <button (click)="goToCadastroFuncionario()" class="btn" type="button">NOVO USUARIO</button>
            <button (click)="goToCadastroFuncionarioInterno()" class="btn" type="button">NOVO USUARIO FHR</button>
            <button (click)="goToCadastroEmpresa()" class="btn" type="button">NOVA EMPRESA</button>
            <button (click)="goToCadastroFrotas()" class="btn" type="button">NOVA FROTA</button>
      </div>  
    </div>
    <div class="col">
      <div class="px-3 py-2 area-conteudo">
        <h6>REGISTROS</h6>
        <table id="tabela-registros" class="table text-left">
          <thead>
            <tr>
              <th style="width:50%; text-align: left;">TITULO</th>
              <th style="width:20%;">FROTA</th>
              <th>CATEGORIA</th>
              <th>DATA</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *naRegistrosgFor="let item of listaRegistros; trackBy:item.id">
              <td>{{item.titulo}}</td>
              <td>{{item.frota}}</td>
              <td>{{item.categoria}}</td>
              <td>{{item.dataRegistro}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->
<app-rodape></app-rodape>