<app-navbar></app-navbar>

<div class="container">
  <div class="row area-conteudo mt-5 mb-2 px-3">
    <div class="col">
      <h3>{{funcionario.nome}}</h3>
      <p *ngIf="funcionarioCliente">{{funcionario.empresa.nome}}</p>
      <p *ngIf="!funcionarioCliente">{{funcionario.cargo}} FHR</p>
    </div>
    <div class="col-1">
      <a href="" (click)="logOut()">SAIR</a>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col-3">
      <div class="px-3 area-conteudo">
        <h6>FILTROS</h6>
        <select onchange="setRegistros()" *ngIf="!funcionarioCliente" [(ngModel)]="idEmpresaEscolhida" class="form-select my-2">
          <option value="" selected>Todas as empresas</option>
          <option *ngFor="let item of listaEmpresas" value="{{item.id}}">{{item.nome}}</option>
        </select>
        <select onchange="setRegistros()" *ngIf="idEmpresaEscolhida != ''" class="form-select my-2" aria-label="Default select example">
          <option value="" selected>Todas as frotas</option>
          <option *ngFor="let item of listaFrotas" value="{{item.id}}">{{item.nome}}</option>
        </select>
        <select onchange="setRegistros()" class="form-select my-2" aria-label="Default select example">
          <option value="" selected>Todas as categorias</option>
          <option value="NOVO_LAUDO">LAUDO</option>
          <option value="PROBLEMA_ENCONTRADO">PROBLEMA</option>
          <option value="PROBLEMA_SOLUCIONADO">SOLUÇÃO</option>
        </select>
      </div>
      <div id="area-botoes" class="d-grid gap-2 mt-2">
        <div class="dropdown" *ngIf="gerencia">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CADASTRAR
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button (click)="goToCadastroRegistro()" class="dropdown-item" type="button">NOVO REGISTRO</button>
            <button (click)="goToCadastroFuncionario()" *ngIf="gerencia" class="btn" type="button">NOVO USUARIO</button>
            <button (click)="goToCadastroFuncionarioInterno()" *ngIf="gerencia" class="btn" type="button">NOVO USUARIO FHR</button>
            <button (click)="goToCadastroEmpresa()" *ngIf="gerencia" class="btn" type="button">NOVA EMPRESA</button>
            <button (click)="goToCadastroFrotas()" *ngIf="gerencia" class="btn" type="button">NOVA FROTA</button>
          </div>
        </div>
      </div>  
    </div>
    <div class="col">
      <div class="px-3 py-2 area-conteudo">
        <h6>REGISTROS</h6>
        <table id="tabela-registros" class="table text-left">
          <thead>
            <tr>
              <th style="width:50%; text-align: left;">TITULO</th>
              <th style="width:20%;">FROTA</th>
              <th>CATEGORIA</th>
              <th>DATA</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let item of listaRegistros">
              <td>{{item.titulo}}</td>
              <td>{{item.frota}}</td>
              <td>{{item.categoria}}</td>
              <td>{{item.dataRegistro}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-rodape></app-rodape>